<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FREE CRM Application Test Automation Suite">
	
  <test name="Free CRM Application Firefox Test Cases">
	
	<parameter name="Browser" value="firefox"/>
	
		<classes>
			<class name="com.qa.TestCases.LoginPageTest"></class>
			<class name="com.qa.TestCases.HomePageTest"></class>
			<class name="com.qa.TestCases.ContactsPageTest"></class>
		</classes>
		
	</test>
</suite>